@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}

/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
